@import "./common.module";

@mixin default-section {
  max-width: $max-width;
  border: 1px solid red;
  margin: $margin * 4 auto;
}

.category_container {
  overflow-x: hidden;
  padding-top: $header-height * 1.2;
  @include mobile {
    padding-top: $header-height-mb2;
  }

  width: 100%;
  position: relative;

  @include mobile {
    margin-top: 0;
  }
  .category_main_wrapper {
    width: 100%;
    position: relative;

    .category_main_wrap {
      position: relative;
      height: 60vh;

      .category_main_img {
        @include default-image;
      }
      .copyright_wrap {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-background-100;
        text-align: center;

        .copyright_title {
          font-size: $margin * 2.1;
          font-weight: 500;
          margin-bottom: $default;
        }

        .copyright_sub {
          font-size: $margin;
        }
      }
    }
    .arrow_wrap {
      width: 59%;
      z-index: 100;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include flex($justify-content: space-between);
      svg {
        cursor: pointer;
        width: $margin * 2;
        height: $margin * 3;
        color: $color-background-100;
      }
    }
  }

  .section_title {
    font-size: $margin * 1.4;
    font-weight: 500;
    letter-spacing: -1.5px;
  }

  .exhibition_wrapper {
    @include default-section;
    .exhibition_wrap {
      margin-top: $margin * 3;
      // hr {
      //   width: 40%;
      //   border: none;
      //   border: 3px solid black;
      // }
      .exhibition {
        border-right: 1px solid $color-skeleton-200;
        &:last-child {
          border: none;
        }
        padding: $margin * 1.5;
        .exhibition_thumbnail {
          @include default-image;
          aspect-ratio: 1;
          margin: auto;
        }
        .title {
          margin-top: $padding;
          font-size: $margin * 1.1;
          font-weight: 600;
        }
        .subtitle {
          margin-top: $default;
          line-height: 24px;
        }
        .exhibition_item_wrap {
          margin-top: $margin;
          .exhibition_item {
            border-top: 1px solid $color-skeleton-100;
            padding: $default 0;
          }
        }
      }
    }
  }
}

.mobile_category_container {
  margin-top: $header-height-mb2;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  width: 100%;
}
