$color-background-100: #ffffff;
$color-background-200: #f2e2ce;
$color-background-300: #f2daac;
$color-background-400: #d9c6a3;

$color-dark-100: #402a1e;
$color-dark-200: #201a15;
$color-dark-300: #000;

$color-skeleton-100: #b6b5b5;
$color-skeleton-200: #6b6b6b;

$color-primary-100: #f2d16d;
$color-primary-200: #eca64f;
$color-primary-300: #8c6418;

$color-secondary-100: #bfa893;
$color-secondary-200: #8c745e;

$color-orange: rgb(254, 99, 32);
