@import "./color.module";
@import "./mixin.module";
@import "./button.module";
@import "./animation.module";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  transition: all 0.5s ease;
}

.default_flex {
  display: flex;
}
.default_flex_space {
  @include flex($justify-content: space-between);
}

.container {
  position: relative;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .common_layout_content_wrapper {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;

    // width: calc(100% - $padding * 2);
    // @include navigation-default-padding;

    // @include flex($align-items: flex-start);
  }
  .toast_wrapper {
    position: fixed;
    z-index: 999999;
    top: $header-height;
    right: $padding;

    // transform: translate(-50%, -50%);
    padding: $padding;
    width: 100%;
    max-width: 300px;

    background-color: rgba($color: $color-dark-300, $alpha: 0.5);
    color: $color-background-100;
    border-radius: 5px;
    font-weight: 500;

    .toast_title {
      margin-bottom: $default/2;
      @include flex($justify-content: flex-start);
      svg {
        width: $margin;
        margin-right: $default/2;
      }
    }
  }
}
.toast_wrapper_mobile {
  position: fixed;
  z-index: 999999;
  top: $header-height-mb2;
  left: 50%;
  transform: translate(-50%, 80%);
  padding: $padding;
  max-width: 50%;
  width: 100%;
  text-align: center;

  background-color: rgba($color: $color-dark-300, $alpha: 0.5);
  color: $color-background-100;
  border-radius: 5px;
  font-weight: 500;

  .toast_title {
    margin-bottom: $default/2;
    @include flex($justify-content: flex-start);
    svg {
      width: $margin;
      margin-right: $default/2;
    }
  }
}

.view_all_button {
  font-style: italic;
  text-decoration: underline;
  margin-left: $padding;
  cursor: pointer;
  text-align: right;
  width: 100%;
}
.default_card_container {
  img {
    @include default-image;
    height: 350px;
  }
  .card_title {
    margin-top: $padding/2;
    font-size: $padding;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .card_content {
    font-size: 14px;
    font-weight: 300;
    margin-top: $padding;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    color: $color-skeleton-200;
    line-height: 140%;
  }
}

.small_item_card_container {
  padding: $default 0;
  height: 20%;
  flex: 1;

  position: relative;
  display: flex;

  margin-bottom: 1%;
  &:last-child {
    margin-bottom: 0%;
  }
  img {
    @include default-image;
    height: 100px;
    width: 100px;
    margin-right: $margin;
    flex-shrink: 0;
  }
  .brand_item_info {
    height: 100px;
    flex-grow: 1;

    @include flex(
      $direction: column,
      $justify-content: space-between,
      $align-items: flex-start
    );

    .item_info {
      height: 100%;
      width: 85%;

      .brand_name {
        font-size: 14px;
      }
      .brand_item_name {
        margin-bottom: $padding;

        width: 90%;
        @include overflow-text($clamp: 2);
      }
    }
    .price_info {
      font-size: 13px;
      color: $color-skeleton-200;
      width: 100%;
      @include flex($justify-content: space-between);

      .original_price {
        span {
          text-decoration: line-through;
        }
      }
      .current_price {
        color: $color-dark-300;
        font-size: 15px;
        font-weight: $font-weight-medium;
        text-decoration: none;
        margin: 0px $padding/4;
      }
      .sale_percent {
        color: $color-orange;
        font-size: 15px;
        font-weight: $font-weight-medium;
        text-decoration: none;
      }
    }
  }
}
.small_item_card_container_mb {
  padding: $default;
  img {
    width: 64px;
    height: 64px;
    margin-right: $default;
  }
  .brand_item_info {
    height: auto;
    .item_info {
      height: 100%;
      width: 85%;

      font-size: 13px !important;
    }
    .price_info {
      font-size: 13px;
      color: $color-skeleton-200;
      width: 100%;
      @include flex($justify-content: space-between);

      .original_price {
        display: none;
      }
      .current_price {
        font-size: 14px;
      }
      .sale_percent {
        font-size: 14px;
      }
    }
  }
}

.search_input {
  width: 100%;
  @include flex;
  padding: $padding/4 $padding/1.2;
  background-color: rgba($color: $color-skeleton-100, $alpha: 0.1);
  width: 100%;
  max-width: 600px;
  height: 38px;
  border-radius: 4px;

  input {
    width: 100%;
    height: 100%;
    border: none;
    margin-left: 20px;
    font-size: $padding;
    background-color: transparent;
    &:focus-visible {
      outline: none;
    }
  }
  svg {
    color: $color-skeleton-200;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.mb_slider_wrapper {
  width: $width_padding;
  height: 4px;
  margin-top: $margin;
  background-color: white;
  position: relative;
  overflow-x: scroll;

  .mb_slider_percent {
    width: 500%;
    // transition: width 0.7s;
    position: absolute;
    z-index: 1;
    background-color: $color-dark-300;
    height: 100%;
  }
}

.scrollable_container {
  width: 100%;
  overflow: hidden;

  .scrollable_list {
    display: flex;
    height: auto; // 높이를 자동으로 설정
    overflow-x: auto;
    overflow-y: visible; // 세로 스크롤이 생기지 않도록 설정
    @include hidden-scrollbar;
  }

  .bottom_bar {
    width: $width_padding;
    height: 5px;
    background-color: #f0f0f0;
    overflow-x: auto;
    position: relative;
  }

  .bar {
    width: 500%;
    height: 5px;
    background-color: red;
    position: absolute;
    z-index: 2;
  }
}

.default_item_card_container {
  cursor: pointer;
  width: 100%;
  position: relative;
  margin-right: $default;
  display: flex;
  flex-direction: column;
  &:last-child {
    margin-right: 0;
  }
  .item_image {
    @include default-image;

    object-fit: cover;
    // display: flex;
    // flex-grow: 1;
  }
  .item_card_information {
    font-size: 15px;
    @include mobile {
      font-size: $padding * 0.88;
    }
    width: 100%;
    min-height: 40px;
    flex-shrink: 0;

    .item_brand_name {
      margin-top: 0.5em;
      font-size: 1em;
      // font-weight: 500;
      @include overflow-text;
    }
    .item_product_name {
      font-size: 1em;
      color: $color-skeleton-200;
      @include overflow-text;
    }
    .product_price {
      font-size: 1em;
      font-weight: 500;
      span {
        font-weight: 400;
        font-size: 0.8em;
        text-decoration: line-through;
        color: $color-skeleton-200;
      }
    }
    .discount_rate {
      color: $color-orange !important;
    }
    .more_item_information {
      margin-top: 0.5em;
      // @include flex($justify-content: flex-start);
      font-size: 0.8em !important;
      color: $color-skeleton-200;
      svg {
        width: 0.65em;
        height: 0.65em;
      }
      // margin-top: 10px;
      span {
        margin-left: 2px;
      }
    }
  }
  .sold_out_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: rgba($color-skeleton-100, 0.4);
    @include flex;

    .sold_out_badge {
      background-color: $color-dark-300;
      color: $color-background-100;
      padding: $padding;
    }
  }
}

.modal_container {
  padding: $margin * 2;
  .modal_header {
    position: relative;
    text-align: center;
    margin-bottom: $margin;
    .close_button {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: -15px;
      svg {
        width: 30px;
        height: 30px;
        color: $color-skeleton-200;
      }
    }
  }
  .modal_content {
    line-height: 180%;
    font-size: 15px;
  }
}

.list_content_wrapper {
  font-size: 16px;
  display: flex;
  line-height: 160%;
  margin-bottom: 0px;
  p {
    font-size: 0.9em;
  }
}

.default_input_wrapper {
  width: 100%;
  border: 1px solid $color-skeleton-100;
  margin-bottom: $default;
  height: 38px;
  padding: $default/2 $default;
  @include flex;
  input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 1em;
  }
  svg {
    cursor: pointer;
    margin-top: $default/2;
    margin-left: $default;
    width: $margin;
    height: $margin;
    color: $color-skeleton-100;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.mobile_container {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  position: relative;
  .header_wrapper {
    position: relative;
    z-index: 99;
    position: fixed;
    height: $header-height-mb2;
    width: 100%;
    background-color: $color-background-100;

    @include flex;
    padding: 0px $padding;
    border-bottom: 1px solid rgba($color: $color-skeleton-100, $alpha: 0.3);
    .right_btn_wrap {
      position: absolute;
      right: $padding;
      @include flex;
    }
    .left_btn_wrap {
      position: absolute;
      left: $padding;
    }
    svg {
      cursor: pointer;
    }
  }
}
.mobile_options_container {
  background-color: rgba($color: $color-dark-300, $alpha: 0.2);
  min-height: 100vh;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;

  position: absolute;

  .options_wrapper {
    position: fixed;
    width: 100%;
    bottom: 0;
    min-height: 230px;
    background-color: $color-background-100;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: $padding;
    .options_title {
      margin-bottom: $margin;
      text-align: center;
    }
    .options_select_box {
      height: 40px;
      width: 100%;
      background-color: $color-background-100;
      border: 1px solid $color-skeleton-100;
      @include flex($justify-content: space-between);
      color: $color-skeleton-200;
      padding: 0px $default;
      position: relative;
      p {
        font-size: 0.9em;
        font-weight: 400;
      }
      .select_box_options_wrapper {
        position: absolute;
        top: 40px;
        left: 0;
        height: 100px;
        overflow: scroll;
        background-color: $color-background-100;
        width: 100%;
        border: 1px solid $color-skeleton-100;
        .select_box_option {
          width: 100%;
          padding: $default;
        }
        .select_box_option_disabled {
          color: $color-skeleton-100;
        }
      }
    }
    .options_button_warp {
      @include flex;
      button {
        height: 48px !important;
        margin-right: $default/2;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.table_container {
  table-layout: fixed;
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;

  th,
  td {
    // border: 1px solid rgba($color: $color-skeleton-200, $alpha: 0.14);
    padding: 8px;
    // word-wrap: break-word;
    // word-break: break-all;
  }

  .table_header {
    border-top: 1.5px solid $color-dark-300;
    border-bottom: 1px solid $color-skeleton-100;
    // color: $color-skeleton-200;
    // background-color: rgba($color: $color-skeleton-100, $alpha: 0.1);

    > tr {
      > th {
        height: 50px;

        font-weight: $font-weight-bold;
        padding: 0 $padding * 1.1;

        min-width: 120px;
        overflow: hidden;
        word-wrap: break-word;
        word-break: break-all;
      }
    }
  }

  .table_row {
    > td {
      border-bottom: 1px solid rgba($color: $color-skeleton-100, $alpha: 0.2);
      text-align: center;
      padding: $margin;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@mixin active_bg {
  border: 1px solid $color-skeleton-100;
  background-color: $color-background-100;
}
.table_filter_wrap {
  margin-bottom: $default;
  font-size: 14px;
  color: $color-skeleton-200;
  @include flex($justify-content: flex-end);
  &:first-child {
    > p {
      margin-right: $margin;
    }
  }
}
.table_select_container {
  position: relative;
  .table_select_wrapper {
    cursor: pointer;
    // margin-left: $margin;
    min-width: 220px;
    height: 40px;
    padding: $default;
    background-color: rgba($color: $color-skeleton-100, $alpha: 0.2);
    color: $color-dark-300;
    p {
      padding-left: $default/2;
    }
    @include flex($justify-content: space-between);
  }
  .table_select_wrapper_active {
    @include active_bg;
  }

  .table_select_wrap {
    cursor: pointer;
    position: absolute;
    top: 39px;
    right: 0px;
    min-width: 220px;
    width: 100%;
    height: 200px;
    overflow: scroll;
    @include active_bg;
    p {
      color: $color-dark-300;
      padding: 14px;
      &:hover {
        background-color: rgba($color: $color-skeleton-100, $alpha: 0.2);
      }
    }
  }
}

.confirm_modal_wrapper {
  width: 450px;
  padding: $margin * 2;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  .confirm_modal_title {
    text-align: center;
    white-space: pre-wrap;
    padding: $margin * 2 0px;
    font-size: 18px;
    font-weight: 500;
  }
  .button_wrap {
    width: 100%;
    @include flex;

    .confirm_modal_button {
      cursor: pointer;
      margin-right: $padding;
      color: $color-background-100;
      border: none;
      height: $margin * 2;
      width: 100%;
      background-color: $color-dark-300;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.not_found_container {
  @include flex($direction: column);
  max-width: $max-width;
  width: 100%;
  margin: auto;
  height: 100vh;
  padding: $padding;
  img {
    max-width: 300px;
    width: 100%;
    @include tablet {
      max-width: 200px;
    }
  }
  a {
    margin-top: $default;
    color: $color-skeleton-100 !important;
    font-size: $default;
  }
  button {
    max-width: 300px;
    width: 100%;
  }
}

.change_item_options_modal {
  width: 500px;
  padding: $padding 0px;
  border-top: 2px solid $color-dark-300;
  border-bottom: 1px solid $color-skeleton-100;
  margin-bottom: $margin;
}
.change_item_price_wrap {
  @include flex($justify-content: space-between);
  &:first-child {
    color: $color-skeleton-100;
  }
  margin-bottom: $margin;
  strong {
    font-size: $default * 2.5;
  }
}
.error_message {
  color: red;
  font-weight: $font-weight-medium;
  font-size: 14px;
  width: 100%;
  text-align: right;
  font-style: italic;
}

.default_items_slider_container {
  display: flex;
  position: relative;
  .default_item_slider_container {
    width: 100%;
    max-width: $max-width;
    position: relative;
    .slider_arrow {
      top: 40%;
      position: absolute;
      color: $color-skeleton-100;
      height: $default * 4;
      width: $default * 4;
      cursor: pointer;
    }
    .default_item_slider_wrapper {
    }
  }
}

// .slider_background {
//   position: absolute;
//   z-index: -1;
//   width: 100vw;
//   top: -40px;
//   right: 0%;
//   height: 500;
//   background-color: orange;
// }

.chevron_wrapper {
  @include flex($justify-content: space-between);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  svg {
    width: $default * 3;
    height: $default * 3;
    cursor: pointer;
    color: $color-skeleton-200;
  }
}

.loading_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  @include flex;
  background-color: $color-background-100;
}

.scroll_top_button_wrapper {
  position: fixed;
  bottom: 10%;
  right: 2%;
  @include flex($direction: column);
  z-index: 100000;

  row-gap: 0.5em;
  .scroll_top_button {
    cursor: pointer;
    background-color: $color-background-100;
    border-radius: 50%;
    width: $default * 4.5;
    height: $default * 4.5;
    @include flex;
    border: 1px solid $color-skeleton-100;
    @include tablet {
      width: $default * 3.6;
      height: $default * 3.6;
    }
    @include mobile {
      width: $default * 3;
      height: $default * 3;
    }
  }
}

.circular_process_wrapper {
  width: 100%;
  height: 500px;
  @include flex;
}

.cart_items_count {
  position: relative;
  p {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: $color-orange;
    z-index: 1;
    aspect-ratio: 1;
    min-width: $margin;
    min-height: $margin;
    @include flex;
    font-size: 10px;
    color: $color-background-100;
    border-radius: 50%;
  }
}

.select_box_container {
  position: relative;
  font-size: 0.8em;
  .selected_value {
    @include flex;
    padding: 1px $default/2;
    cursor: pointer;
    svg {
      width: $default * 1.2;
    }
  }
  .select_options_wrap {
    box-shadow: 2px 2px 2px rgba($color-skeleton-100, 0.3);
    position: absolute;
    z-index: 10;
    background-color: $color-background-100;
    width: 150px;
    right: 0;
    border-radius: 4px;
    overflow: hidden;

    p {
      padding: $default;
      cursor: pointer;
    }
  }
}
