@import './color.module';
@import './mixin.module';

* {
  padding: 0;
  margin: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.default_flex {
  display: flex;
}

.container {
  position: relative;
  .domino_pagination_container {
  }
  .best_product_container {
    height: 450px;
    border: 1px solid red;
    position: relative;
    img {
      max-height: 80%;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
    svg {
      position: absolute;
      top: 3%;
      right: 3%;
      color: $color-background-100;
      cursor: pointer;
    }
  }
}

.view_all_button {
  font-style: italic;
  text-decoration: underline;
  margin-left: $padding;
  cursor: pointer;
}
