@import "./color.module";
@import "./mixin.module";

* {
  padding: 0;
  margin: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  transition: all 0.5s ease;
}

.default_flex {
  display: flex;
}
.default_flex_space {
  @include flex($justify-content: space-between);
}

.container {
  position: relative;
  .domino_pagination_container {
  }
}

.view_all_button {
  font-style: italic;
  text-decoration: underline;
  margin-left: $padding;
  cursor: pointer;
  text-align: right;
  width: 100%;
}

.default_card_container {
  img {
    @include default-image;
    height: 350px;
  }
  .card_title {
    margin-top: $padding/2;
    font-size: $padding;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .card_content {
    font-size: 14px;
    font-weight: 300;
    margin-top: $padding;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    color: $color-skeleton-200;
    line-height: 140%;
  }
}

.brand_item_wrapper {
  padding: $margin/2 0;
  height: 20%;
  flex: 1;

  position: relative;
  @include flex($justify-content: flex-start, $align-items: flex-start);
  margin-bottom: 1%;
  &:last-child {
    margin-bottom: 0%;
  }
  img {
    @include default-image;
    height: 100px;
    width: 20%;
    margin-right: $margin;
  }
  .brand_name {
    font-size: 14px;
  }
  .brand_item_name {
    margin-bottom: $padding;

    width: 90%;
    p {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
  .price_info {
    font-size: 13px;
    color: $color-skeleton-200;
    .original_price {
      text-decoration: line-through;
    }
    .current_price {
      color: $color-dark-300;
      font-size: 15px;
      font-weight: 700;
      text-decoration: none;
      margin: 0px $padding/4;
    }
    .sale_percent {
      color: $color-orange;
      font-size: 15px;
      font-weight: 700;
      text-decoration: none;
    }
  }
}

.search_input {
  width: 100%;
  @include flex;
  padding: $padding/4 $padding/1.2;
  background-color: rgba($color: $color-skeleton-100, $alpha: 0.1);
  width: 100%;
  max-width: 600px;
  height: 38px;
  border-radius: 4px;

  input {
    width: 100%;
    height: 100%;
    border: none;
    margin-right: 20px;
    font-size: $padding;
    background-color: transparent;
    &:focus-visible {
      outline: none;
    }
  }
  svg {
    color: $color-skeleton-200;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.mb_slider_wrapper {
  width: $width_padding;
  height: 4px;
  margin-top: $margin;
  background-color: white;
  position: relative;
  overflow-x: scroll;

  .mb_slider_percent {
    width: 500%;
    // transition: width 0.7s;
    position: absolute;
    z-index: 1;
    background-color: $color-dark-300;
    height: 100%;
  }
}

.scrollable_container {
  width: 100%;
  overflow: hidden;

  .scrollable_list {
    display: flex;
    height: auto; // 높이를 자동으로 설정
    overflow-x: auto;
    overflow-y: visible; // 세로 스크롤이 생기지 않도록 설정
    @include hidden-scrollbar;
  }

  .bottom_bar {
    width: $width_padding;
    height: 5px;
    background-color: #f0f0f0;
    overflow-x: auto;
    position: relative;
  }

  .bar {
    width: 500%;
    height: 5px;
    background-color: red;
    position: absolute;
    z-index: 2;
  }
}

.default_item_card_container {
  width: 100%;
  position: relative;
  margin-right: $default;
  display: flex;
  flex-direction: column;
  &:last-child {
    margin-right: 0;
  }
  .item_image {
    @include default-image;
    height: calc(100% - 100px);
  }
  .item_card_information {
    font-size: $padding;
    @include mobile {
      font-size: $padding * 0.88;
    }
    width: 100%;
    min-height: 40px;
    flex-shrink: 0;

    .item_brand_name {
      margin-top: 0.5em;
      font-size: 0.9em;
      opacity: 0.7;
      @include overflow-text;
    }
    .item_product_name {
      font-size: 1em;
      @include overflow-text;
    }
    .product_price {
      font-size: 1em;
      font-weight: 500;
      span {
        font-weight: 400;
        font-size: 0.8em;
        text-decoration: line-through;
        color: $color-skeleton-200;
      }
    }
    .discount_rate {
      color: $color-orange !important;
    }
    .more_item_information {
      margin-top: 0.5em;
      // @include flex($justify-content: flex-start);
      font-size: 0.8em !important;
      color: $color-skeleton-200;
      svg {
        width: 0.65em;
        height: 0.65em;
      }
      // margin-top: 10px;
      span {
        margin-left: 2px;
      }
    }
  }
}

.default_button_dark_300 {
  @include default-button;
  margin-top: $margin;
  width: $width_padding;
  border: none;
  background-color: rgba($color: $color-dark-300, $alpha: 0.2);
  color: $color-background-100;
}

.default_button_background_100_outline {
  @include default-button;
  margin-top: $margin;
  width: $width_padding;
  background-color: $color-background-100;
  color: $color-skeleton-100;
  border: 1px solid $color-skeleton-100;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
