@import "./common.module";

@mixin mobile-boundary {
  border-top: 10px solid rgba($color-skeleton-100, 0.3);
}

.item_detail_container {
  margin-top: $header-height * 2;
  @include tablet {
    margin-top: $header-height-mb2;
  }

  width: 100%;
  position: relative;

  @include mobile {
    margin-top: 0;
  }
  .item_bottom_navigation {
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: $margin * 3;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    .navigation_button {
      cursor: pointer;
      margin-bottom: $default;
      background-color: $color-background-100;
      border: 1px solid $color-skeleton-100;
      border-radius: 50%;
      width: 2.5em;
      height: 2.5em;
      @include flex;

      svg {
        width: 1.3em;
        height: 1.3em;
      }
    }
    @include tablet {
      bottom: $margin * 5;
      right: $padding;
    }
  }

  .item_detail_wrapper {
    margin: auto;
    width: 100%;
    max-width: $max-width;
    display: flex;
    flex-wrap: wrap;
    transition: flex-direction 0.3s ease;

    .item_content_scroll_wrapper {
      flex: 1.2;

      margin-right: $default * 3;
      height: 800px;
      max-width: 100%;
      min-width: 0;

      .image_zoom_container {
        position: relative;
        img {
          width: 100%;
          height: 800px;
          object-fit: cover !important;
        }
        .slider_button {
          position: absolute;
          width: 100%;
          top: 50%;
          left: 0;
          @include flex($justify-content: space-between);

          svg {
            width: $margin * 1.5;
            height: $margin * 2.3;
            background-color: rgba($color: #fff, $alpha: 0.5);
            color: rgba($color-skeleton-200, 0.7);

            padding: $default;
            cursor: pointer;
          }
        }
        .slider_pagination_wrapper {
          @include flex;
          position: absolute;
          width: 100%;
          bottom: 5%;

          .square_pager {
            cursor: pointer;
            width: 4%;
            height: 3px;
            background-color: rgba($color-skeleton-100, 0.9);
            margin-right: $default;
            &:last-child {
              margin-right: 0px;
            }
          }
          .square_pager_active {
            // transition: transform 1s ease;
            // transform: rotate(40deg);
            background-color: $color-dark-300;
          }
        }
        .slide {
          position: relative;
          .scanner {
            position: absolute;
            border: 1px solid #ccc;
            pointer-events: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }

    .item_content_information_wrapper {
      width: 100%;
      padding-left: $padding;
      padding-right: $padding;
      flex: 0.8;

      .item_header_icon_wrapper {
        @include flex($justify-content: flex-end);
        margin-bottom: $default;
        width: 100%;
      }
      .item_header_wrapper {
        width: 100%;
        .item_brand_name {
          font-size: 15px;
          color: $color-skeleton-200;
          font-weight: 400;
        }
        .item_name {
          margin-top: $default;
        }
        .review_icon_wrap {
          cursor: pointer;
          flex-shrink: 0;
          @include flex;
          color: $color-skeleton-200;
          svg {
            width: $margin;
            height: $margin;
            &:last-child {
              margin-top: -1px;
              width: $padding;
              height: $padding;
            }
          }
        }
      }
      .price_information_wrapper {
        width: 100%;
        margin-top: $margin;
        margin-bottom: $margin;
        // border-bottom: 1px solid $color-skeleton-100;
        @include flex($justify-content: space-between);
        .total_price {
          font-weight: 800;
          font-size: 24px;
        }
        .original_price {
          text-decoration: line-through;
          font-size: 14px;
          color: $color-skeleton-100;
        }
        .sale_percent {
          text-decoration: none !important;
          color: $color-orange;
          font-weight: 800;
          font-size: 18px;
          margin-left: $default/2;
        }
      }
      .item_description {
        margin-top: $margin;
        margin-bottom: $margin;
        line-height: 160%;
        text-align: justify-all;
        font-size: 16px;
      }

      .item_code {
        width: 100%;

        font-size: 13px;
      }

      .color_option_thumbnail {
        @include default-image;
        margin: $default/2;
      }
    }
  }
}

.detail_content_wrapper {
  width: 100%;
  @include flex($justify-content: space-between, $align-items: flex-start);
  padding: $default 0;

  .detail_title {
    width: 100%;
    max-width: 80px;
    font-weight: 600;
    font-size: 16px;
    padding-top: 5px;
  }
  .detail_content_wrap {
    width: 100%;
    font-size: 14px;
    .selected_option_name {
      padding-top: 5px;
      width: 100%;
      // min-height: $default;
    }
    .detail_review_content {
      @include flex($justify-content: space-between);
      .detail_start_wrap {
        @include flex;
        svg {
          width: $margin * 1.2;
          height: $margin * 1.2;
          color: $color-orange;
        }
        p {
          font-weight: 700;
          font-size: $margin;
          margin-top: 2px;
          margin-left: 4px;
        }
      }
      .review_flag_button {
        cursor: pointer;
        text-decoration: underline;
        font-weight: 500;
      }
    }
    .detail_delivery_wrapper {
      //
      .detail_delivery_wrap {
        @include flex($justify-content: space-between);
        cursor: pointer;
        font-weight: 700;
        font-size: $padding;
        line-height: 140%;
        .delivery_description {
          span {
            margin-top: $default;
            color: $color-orange;
            font-weight: 700;
          }
          font-weight: 400;
        }
      }
      .delivery_hidden_wrapper {
        width: 100%;
        margin: auto;
        padding-top: $default/2;
        padding-bottom: $default/2;
        line-height: 150%;
        color: $color-skeleton-200;
        font-weight: 300;
        font-size: 14px;

        .delivery_more_information {
          margin-top: $default;
          text-align: right;
          span {
            text-decoration: underline;
            margin-left: $default/2;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.recommend_container {
  max-width: $max-width;
  margin: auto;
  margin-top: $margin * 4;
  margin-bottom: $margin * 4;

  .recommend_wrapper {
    h3 {
      margin-bottom: $padding;
    }
    img {
      cursor: pointer;
      margin-right: $default;
      &:last-child {
        margin-right: 0px;
      }
    }

    .brand_information_card_wrapper {
      position: relative;
      font-size: 16px;
      overflow: hidden;
      margin-bottom: $default * 2;

      img {
        @include default-image;
        height: 468px;
      }
      .brand_texts {
        padding-top: $padding * 4;
        h1 {
          margin-top: $default;
          margin-bottom: $margin;
        }
        .preference_wrapper {
          margin-top: $margin;
          span {
            font-size: 0.8em;
          }
        }
      }
      .brand_information_content {
        position: absolute;
        color: $color-background-100;
        top: 0;
        left: 0;
        width: 100%;
        height: 468px;
        padding-left: $padding * 4;
        padding-right: $padding * 4;

        // padding: $padding * 4;
        background-color: rgba($color-dark-300, 0.4);

        .brand_home_button {
          cursor: pointer;
          position: absolute;
          bottom: 10%;
          max-width: 210px;
          width: 100%;
          @include flex($justify-content: space-between);
          height: 51px;
          padding: $default;
          border: 1px solid $color-background-100;
          background-color: transparent;
          color: $color-background-100;
        }
      }
    }
  }
}

.tab_menu_container {
  max-width: $max-width;
  margin: auto;
  margin-top: $margin;

  .tab_menu_wrapper {
    display: flex;
    height: $padding * 3;
    font-size: 18px;

    cursor: pointer;

    .tab_menu_wrap {
      width: 100%;
      @include flex;
      border: 0.5px solid rgba($color-skeleton-100, 0.9);
      border-right: 0px;
      border-bottom: 2px solid black;
      &:last-child {
        border-right: 0.5px solid rgba($color-skeleton-100, 0.9);
      }
    }
    .tab_menu_wrap_active {
      border: 2px solid black !important;
      border-bottom: 0px !important;
    }
  }
  .detail_content_bottom_wrapper {
    max-width: $breakpoint-tablet;
    margin: auto;
    padding-top: $margin * 10;
    padding-bottom: $margin * 10;
  }
  .review_bottom_container {
    .review_bottom_wrapper {
      max-width: $breakpoint-tablet;
      margin: auto;
      text-align: center;
      padding: $margin * 5 0px;

      .rating_title {
        font-weight: 500;
        font-size: 1.5em;
        span {
          margin-left: $default/2;
          font-size: 0.9em;
        }
      }
      .rating_wrapper {
        margin: auto;
        margin-top: $default * 2;
        @include flex;

        .rating_value {
          margin-right: $default;
          margin-top: $default;
          font-weight: 600;
          color: $color-skeleton-200;
          font-size: 2em;
          span {
            color: $color-dark-300;
          }
        }
      }
    }
    .reviews_wrapper {
      .detail_review {
        padding-top: $padding;
        padding-bottom: $padding;

        @include flex(
          $justify-content: space-between,
          $align-items: flex-start
        );
        border-bottom: 1px solid $color-skeleton-100;
        &:first-child {
          border-top: 2px solid $color-dark-100;
        }
        &:last-child {
          border-bottom: 2px solid $color-dark-100;
        }
        .detail_first_content {
          img {
            @include default-image;
            width: 100px;
            height: 100px;
          }
        }
        .detail_second_content {
          height: 100%;

          .detail_review_information {
            @include flex($justify-content: space-between);
            color: $color-skeleton-100;
            font-size: 0.9em;
          }
          .written_review {
            margin-top: $padding;
            line-height: 160%;
            @include tablet {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }

  .questions_container {
    margin-top: $margin * 4;
    .questions_wrapper {
      .question_detail_wrap {
        font-size: 16px;
        @include flex($justify-content: space-between);
        height: 60px;
        border-bottom: 1px solid rgba($color-skeleton-100, 0.3);
        &:last-child {
          border-bottom: 1px solid $color-dark-300;
        }
        // &:first-child {
        //   border-top: 1px solid $color-dark-300;
        // }
        .question_detail_information {
          flex-shrink: 0;
          display: flex;
          font-size: 0.9em;
          color: $color-skeleton-200;
          span {
            margin-left: $margin;
          }
        }
        .question_detail_content {
          @include flex;
          span {
            flex-shrink: 0;
            margin-right: $margin;
            font-size: 0.6em;
            background-color: $color-dark-300;
            color: $color-background-100;
            padding: $default/2;
          }
          p {
            @include overflow-text;
          }
        }
      }
    }
  }
}
.detail_more_button_wrapper {
  max-width: $breakpoint-tablet;
  bottom: 0;
  margin: auto;
  width: 100%;
}
.empty_list_wrapper {
  margin-top: $margin * 2;
  width: 100%;
  height: 200px;
  @include flex;
  font-size: 16px;
  white-space: pre-wrap;

  p {
    font-size: 1.1em;
    text-align: center;
    line-height: 160%;
    color: $color-dark-300;
  }
}

.drawer_container {
  width: calc(100% - $margin * 4);
  max-width: 500px;
  padding: $margin * 4 $margin;

  margin: auto;
  height: 100vh;
  .drawer_header {
    width: 100%;
    position: relative;
    margin-bottom: $margin * 3;
    p {
      font-weight: 500;
      font-size: 1.2em;
    }
    .close_button {
      position: absolute;
      right: 0;
      top: -20px;
      cursor: pointer;
    }
  }
  .drawer_content {
    font-size: 16px;
    margin-bottom: $margin * 2;
    .drawer_title {
      font-size: 1em;
      margin-bottom: $padding;
    }
    .brand_information {
      margin-top: $padding;
      font-size: 0.9em;
      line-height: 160%;
      padding-bottom: 100px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.color_options_wrapper {
  img {
    margin-right: $default/2;
  }
  .selected_color_option {
    img {
      border-bottom: 4px solid $color-dark-300;
      cursor: pointer;
    }
  }
}
.size_options_wrapper {
  @include display-grid($colum: repeat(4, 1fr));
  gap: 1px;
  .size_option {
    @include flex;
    border-collapse: collapse;
    outline: 1px solid $color-dark-300;
    height: 40px;
    cursor: pointer;
  }
  .size_option_disabled {
    background-color: rgba($color: $color-skeleton-100, $alpha: 0.3);
    outline: 1px solid $color-skeleton-100;
    color: $color-skeleton-100;
    cursor: auto;
  }
  .selected_size_option {
    background-color: $color-dark-300;
    color: $color-background-100;
  }
}
.detail_quantity_wrapper {
  @include flex($justify-content: space-between);
  padding: $default;
  outline: 1px solid $color-dark-300;
  input {
    text-align: center;
    width: 100%;
    outline: none;
    border: none;
    margin-right: $default;
    margin-left: $default;
  }
  .quantity_button {
    width: 30px;
    height: 30px;
    @include flex;
    cursor: pointer;
  }
}
.detail_quantity_wrapper_mb {
  outline: 1px solid $color-skeleton-100;
  height: 40px;
  color: $color-skeleton-200;
  input {
    color: $color-skeleton-200;
  }
  svg {
    width: 20px;
    height: 20px;
    @include flex;
    cursor: pointer;
  }
}

.mobile_item_detail_container {
  margin-top: $header-height-mb2;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-bottom: 100px;

  .item_content_scroll_wrapper {
    margin-right: $default * 3;
    width: 100%;
    .image_zoom_container {
      position: relative;
      width: 100%;
      img {
        width: 100%;
        object-fit: cover !important;
        height: 520px;
      }
      .slider_mobile_pagination {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba($color-dark-100, 0.5);
        color: $color-background-100;
        padding: $default/2 $padding;
        border-radius: 40px;
        letter-spacing: 1px;
        font-size: 0.9em;
      }
    }
  }
  .item_content_information_wrapper {
    width: 100%;
    padding-left: $padding;
    padding-right: $padding;

    margin-top: $margin;
    width: 100%;

    .item_header_wrapper {
      .item_brand_name {
        padding: $default;
        width: 100%;
        font-size: 0.9em;
        color: $color-skeleton-200;
        font-weight: 400;
        border: 1px solid rgba($color-skeleton-100, 0.5);
        @include flex($justify-content: space-between);
      }
      .item_name {
        margin-top: $default;
        // padding-top: $padding;
        padding-bottom: $padding;

        // border-top: 1px solid rgba($color-skeleton-100, 0.5);

        font-size: 1.2em;
      }
    }
    .price_information_wrapper {
      width: 100%;
      padding-bottom: $padding;

      .total_price {
        margin-top: $default/2;
        font-size: 20px;
        strong {
          font-size: 22px;
        }
      }
      .original_price {
        text-decoration: line-through;
        font-size: 14px;
        color: $color-skeleton-100;
      }
      .sale_percent {
        text-decoration: none !important;
        color: $color-orange;
        font-weight: 800;
        font-size: 18px;
        margin-right: $default/2;
      }
    }
    .review_wrap {
      margin: $margin 0px;
      position: relative;
      @include flex($justify-content: flex-start);
      .rating_wrap {
        strong {
          margin-left: $default/2;
        }
        @include flex($justify-content: flex-start);
      }
      .review_flag_button {
        margin-left: $padding;
        font-size: 0.8em;
        color: $color-skeleton-200;
        svg {
          width: $padding;
          height: $padding;
        }
        @include flex($justify-content: flex-start);
      }
      .share_icon {
        position: absolute;
        right: 0;
        color: $color-skeleton-100;
        width: $padding;
      }
    }

    .item_code {
      width: 100%;
      font-size: 13px;
    }
    .delivery_wrap {
      border-top: 1px solid rgba($color-skeleton-100, 0.5);
      padding: $padding 0px;
      > div {
        @include flex($justify-content: flex-start, $align-items: flex-start);
      }

      font-size: 14px;
      .title {
        color: $color-skeleton-100;
        flex-shrink: 0;
        margin-right: $margin;
        max-width: 50px;
        width: 100%;
      }
      .delivery_content {
        color: $color-skeleton-200;
        line-height: 160%;
        .delivery_more_information {
          margin-top: $padding;
          font-size: 13px;
          text-decoration: underline;
        }
      }
    }

    // .color_option_thumbnail {
    //   @include default-image;
    //   margin: $default/2;
    // }
  }
  .mobile_recommend_container {
    width: 100%;

    @include mobile-boundary;

    .recommend_wrapper {
      padding: 0px $padding;
      img {
        cursor: pointer;
        margin-right: $default;
        &:last-child {
          margin-right: 0px;
        }
      }
      margin-top: $margin * 2;
      width: 100%;
      margin: auto;
      h3 {
        margin: $padding 0px;
        font-size: $padding;
      }
    }
    .brand_information_card_wrapper {
      position: relative;
      font-size: 16px;
      overflow: hidden;

      margin-top: $padding * 2;

      img {
        @include default-image;
        height: 468px;
      }
      .brand_texts {
        padding-top: $padding * 4;
        h1 {
          margin-top: $default;
          margin-bottom: $margin;
        }
        .preference_wrapper {
          margin-top: $margin;
          span {
            font-size: 0.8em;
          }
        }
      }
      .brand_information_content {
        position: absolute;
        color: $color-background-100;
        top: 0;
        left: 0;
        width: 100%;
        height: 468px;
        padding-left: $padding * 4;
        padding-right: $padding * 4;

        // padding: $padding * 4;
        background-color: rgba($color-dark-300, 0.4);
        .brand_home_button {
          cursor: pointer;
          position: absolute;
          bottom: 10%;
          max-width: 210px;
          width: 100%;
          @include flex($justify-content: space-between);
          height: 51px;
          padding: $default;
          border: 1px solid $color-background-100;
          background-color: transparent;
          color: $color-background-100;
        }
      }
    }
  }
  .mobile_tab_menu_container {
    margin-top: $margin;

    border-top: 10px solid rgba($color-skeleton-100, 0.3);

    .tab_menu_wrapper {
      display: flex;
      height: $padding * 3;

      font-size: 14px;
      .tab_menu_wrap {
        width: 100%;
        @include flex;
        border: 0.5px solid rgba($color-skeleton-100, 0.9);
        border-right: 0px;
        border-bottom: 2px solid black;
        &:last-child {
          border-right: 0.5px solid rgba($color-skeleton-100, 0.9);
        }
      }
      .tab_menu_wrap_active {
        border: none !important;
        border-bottom: 2px solid black !important;
      }
      .mobile_tab_menu_wrap {
        width: 100%;
        @include flex;
        border-right: 0px;
      }
      .mobile_tab_menu_wrap_active {
        border: none !important;
        border-bottom: 2px solid black !important;
      }
    }
    .detail_content_bottom_wrapper {
      max-width: $breakpoint-tablet;
      margin: auto;
      padding: $margin * 5 $padding;
    }
    .review_bottom_container {
      @include mobile-boundary;
      margin-bottom: $margin;

      .review_bottom_wrapper {
        max-width: $breakpoint-tablet;
        margin: auto;
        text-align: center;
        padding: $margin * 2 0px;

        .rating_title {
          font-weight: 500;
          span {
            margin-left: $default/2;
            font-size: 0.9em;
          }

          font-size: 1em;
        }
        .rating_wrapper {
          margin: auto;
          @include flex;
          margin-top: $default;

          .rating_value {
            margin-right: $default;
            margin-top: 3px;
            font-weight: 600;
            color: $color-skeleton-200;
            font-size: 1.3em;
            span {
              color: $color-dark-300;
            }
          }
        }
      }
      .reviews_wrapper {
        padding: 0 $padding;
        .detail_review {
          padding-top: $padding;
          padding-bottom: $padding;
          .user_option_wrap {
            margin-top: $default;
            padding: $default/2 $default;
            background-color: rgba($color-skeleton-100, 0.2);
            font-size: 0.9em;
            color: $color-skeleton-200;
          }
          .writer_info {
            color: $color-skeleton-200;
            font-size: 0.9em;
          }
          .review_content_wrap {
            margin-top: $padding;
            @include flex(
              $justify-content: flex-start,
              $align-items: flex-start
            );
            img {
              @include default-image;
              width: 100px;
              height: 100px;
              margin-right: $margin;
            }
          }

          border-bottom: 1px solid $color-skeleton-100;
          &:first-child {
            border-top: 2px solid $color-dark-100;
          }
          &:last-child {
            border-bottom: 2px solid $color-dark-100;
          }
        }
      }
    }
    .detail_more_button_wrapper {
      width: 100%;
      padding: 0 $padding;
      padding-bottom: $margin * 4;
    }

    .questions_container {
      @include mobile-boundary;
      margin-bottom: 0;

      .questions_wrapper {
        padding: $padding;

        .question_detail_wrap {
          font-size: 16px;
          @include flex($justify-content: space-between);
          height: 60px;
          border-bottom: 1px solid rgba($color-skeleton-100, 0.3);
          &:last-child {
            border-bottom: 1px solid $color-dark-300;
          }
          // &:first-child {
          //   border-top: 1px solid $color-dark-300;
          // }
          .question_detail_information {
            flex-shrink: 0;
            display: flex;
            font-size: 0.9em;
            color: $color-skeleton-200;

            flex-direction: column;
            span {
              margin-left: 0;
            }
          }
          .question_detail_content {
            @include flex;
            span {
              flex-shrink: 0;
              margin-right: $margin;
              font-size: 0.6em;
              background-color: $color-dark-300;
              color: $color-background-100;
              padding: $default/2;
            }
            p {
              @include overflow-text;
            }

            font-size: 14px;
          }
        }
      }
    }
  }
  .order_bottom_container {
    position: fixed;
    z-index: 10;

    background-color: $color-background-100;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.08);
    .order_info_wrap {
      height: 48px;
      padding: 0px $padding;
      p {
        color: $color-skeleton-200;
        font-size: 14px;
        strong {
          color: $color-dark-300;
        }
      }
      @include flex($justify-content: space-between);
    }
    .like_btn_wrap {
      width: $default * 8;

      @include flex($direction: column);
      color: $color-skeleton-200;
      svg {
        width: $default * 3;
        color: $color-skeleton-200;
      }
      p {
        font-size: 0.8em;
      }
    }
    button {
      margin: 0px !important;
      height: $margin * 3 !important;
      font-size: $padding !important;
    }
  }
}
