@import "./common.module";

.event_container {
  max-width: $max-width;
  width: 100%;
  margin: auto;

  height: 100%;

  flex-grow: 1;

  flex-direction: column;

  margin-top: $desktop-margin-top * 1.5;
  position: relative;

  .event_title {
    text-align: center;
    margin-bottom: $margin * 2;
    font-size: $margin * 1.8;
  }
  .event_filter_wrap {
    @include flex($justify-content: space-between);
    border-bottom: 1px solid $color-skeleton-100;
    div {
      padding: $padding;
      text-align: center;
      width: 100%;
      height: 100%;
      color: $color-skeleton-100;
      cursor: pointer;
    }
    .current_type {
      color: $color-dark-300;

      border-bottom: 2px solid $color-dark-300;
    }
  }
  .events_wrapper {
    border: 1px solid red;
    padding-top: $margin * 3;
    @include display-grid(
      $colum: repeat(4, 1fr),
      $colum-gap: $margin,
      $row-gap: $margin * 2
    );
    .event_card {
      width: 100%;
      .event_thumbnail_wrap {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        img {
          @include default-image;
          aspect-ratio: 1;
          max-height: 226px;
          transition: transform 0.3s ease;
          &:hover {
            transform: scale(1.1);
          }
        }
        .event_badge {
          position: absolute;

          z-index: 10;
          left: 0;
          bottom: 5px;
          background-color: $color-dark-200;
          padding: $default/2;
          font-size: 13px;

          color: $color-background-100;
        }
      }
      .event_card_title {
        margin-top: $padding;
        margin-bottom: $default;
        font-size: 17px;
      }

      .event_card_period {
        font-size: 14px;
        color: $color-skeleton-200;
        margin: $default/2 0;
      }
    }
  }
  .events_filter_wrap_mb {
    @include flex($justify-content: space-between);
    position: sticky;
    z-index: 1000;
    top: $header-height_mb * 1.5;
    left: 0;
    width: 100%;

    padding: $default/2;
    background-color: $color-background-100;
    .events_total {
      color: $color-skeleton-200;
    }
  }

  .events_wrapper_mb {
    @include display-grid($colum: repeat(2, 1fr), $row-gap: $default * 4);
    margin-top: $margin;
    padding: 0 1px;

    .event_card {
      width: 100%;
      .event_thumbnail_wrap {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        img {
          @include default-image;
          aspect-ratio: 1;
          max-height: 185px;
        }
        .event_badge {
          display: none;
        }
      }
      .event_card_title {
        margin-top: $default;
        margin-bottom: $default/2;
        font-size: 14px;
        @include overflow-text($clamp: 1);
      }

      .event_card_period {
        font-size: 13px;
        color: $color-skeleton-200;
        margin: $default/2 0;
      }
    }
  }

  @include tablet {
    padding: $padding;
    margin-top: $header-height_mb * 1.5;
    .event_title {
      display: none;
    }
  }
}

.mobile_event_container {
  margin-top: $header-height-mb2;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-bottom: 140px;
  background-color: rgba($color-skeleton-100, 0.1);
}
