@import './common.module';

@mixin menu {
  a {
    margin-right: $margin * 2;
    font-size: $margin;
    font-weight: 700;
    letter-spacing: 1px;
    &:hover {
      color: $color-background-200;
    }
  }
}

.header_container {
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.05);

  height: $margin * 4.5;
  color: $color-background-100;
  opacity: 1;
  transition: 0.3s;

  @include flex;
  .header_wrapper {
    max-width: $max-width;
    width: 100%;
    @include flex($justify-content: space-between);

    .category_wrapper {
      @include flex($align-items: baseline);
      .header_logo {
        width: 220px;
        cursor: pointer;
        margin-right: $margin * 3;
      }
      .category {
        @include menu;
      }
    }
    .user_wrapper {
      @include flex($align-items: baseline);
      svg {
        font-size: $margin;
        margin-right: $padding/1.2;
      }
      @include menu;
      a {
        margin-right: 0px;
      }
    }
  }
}

.header_container_dark {
  background-color: $color-background-100;
  color: $color-dark-300;
  border-bottom: 1px solid $color-skeleton-100;
}
