@import "./common.module";

.lookbook_container {
  max-width: $max-width;
  width: 100%;
  margin: auto;

  height: 100%;

  flex-grow: 1;

  flex-direction: column;

  margin-top: $desktop-margin-top * 1.5;
  position: relative;

  .lookbook_title {
    text-align: center;
    margin-bottom: $margin * 2;
    font-size: $margin * 1.8;
  }

  .lookbooks_wrapper {
    padding-top: $margin * 3;
    @include display-grid(
      $colum: repeat(3, 1fr),
      $colum-gap: $margin,
      $row-gap: $margin * 2
    );
    .lookbook_card {
      width: 100%;
      .lookbook_thumbnail_wrap {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        img {
          @include default-image;
          aspect-ratio: 1;
          max-height: 593px;
          transition: transform 0.3s ease;
          &:hover {
            transform: scale(1.1);
          }
        }
        .lookbook_badge {
          position: absolute;

          z-index: 10;
          left: 0;
          bottom: 5px;
          background-color: $color-dark-200;
          padding: $default/2;
          font-size: 13px;

          color: $color-background-100;
        }
      }
      .lookbook_card_title {
        margin-top: $padding;
        margin-bottom: $default;
        font-size: 17px;
      }
    }
  }

  .lookbook_empty_wrap {
    @include flex;
    min-height: 40vh;
  }

  .lookbooks_wrapper_mb {
    @include display-grid($colum: repeat(1, 1fr), $row-gap: $default * 4);
    margin-top: $margin;
    // padding: 0 1px;

    .lookbook_card {
      width: 100%;
      .lookbook_thumbnail_wrap {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        img {
          @include default-image;
          aspect-ratio: 1;
          max-height: 412px;
        }
        .lookbook_badge {
          display: none;
        }
      }
      .lookbook_card_title {
        padding: 0 $padding;
        margin-top: $default;
        margin-bottom: $default/2;
        font-size: 14px;
        @include overflow-text($clamp: 1);
      }
    }
  }

  @include tablet {
    margin-top: $header-height_mb * 1.5;
    .lookbook_title {
      display: none;
    }
  }
}
