@import './common.module';

.main_image_container {
  width: 100%;
  position: relative;
  .main_image {
    width: 100%;
    height: 90vh;
    object-fit: cover;
  }
  .section_title {
    text-align: center;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: $margin * 1.5;
    color: $color-dark-200;
  }
  .main_slider_wrapper {
    position: absolute;
    bottom: 10%;

    @include flex($justify-content: flex-start);
    left: 50%;
    transform: translate(-50%, -10%);
    max-width: $max-width;
    width: 100%;

    .main_slider_button {
      border: 2px solid $color-background-100;
      @include flex;
      width: $padding * 2.5;
      height: $padding * 2.5;
      color: $color-background-100;
      background-color: rgba($color: #ffffff, $alpha: 0.1);
      cursor: pointer;
      &:last-child {
        margin-left: $padding;
      }
    }
    .main_slider_bottom {
      width: 300px;
      height: 8px;
      background-color: rgba($color: #ffffff, $alpha: 0.5);
      margin-right: $padding;
      // position: relative;
    }
    .main_slider_percent {
      max-width: 300px;
      height: 100%;
      width: 0;
      height: 8px;
      background-color: $color-background-100;
      left: 0px;
      top: 0px;
      position: absolute;
      transition: width 0.3s;
    }
    .slider_index {
      margin-right: $margin;
      flex-shrink: 0;
      font-weight: 900;
      color: $color-background-100;
    }
  }
  .items_contents_container {
    margin-top: $margin * 4;
    margin-bottom: $margin * 4;
    @include flex;
    .items_contents_wrapper {
      max-width: $max-width;

      width: 100%;

      .item_category_wrapper {
        @include flex;

        margin-bottom: $margin * 5;

        .item_category {
          font-size: $padding;
          font-weight: 700;
          margin-right: $margin * 4;

          &:last-child {
            margin-right: 0px;
            span {
              margin-left: 0px;
            }
          }
          span {
            margin-left: $margin * 4;
            color: $color-primary-300;
          }
        }
      }
      .second_slider_container {
        .best_product_container {
          @include flex($align-items: flex-start);

          width: 100%;
          max-width: $max-width;

          .best_product_wrapper {
            height: 450px;
            width: 100%;
            max-width: 281.7px;

            position: relative;
            margin-right: $padding/2;

            img {
              max-height: 75%;
              height: 100%;
              object-fit: cover;
              width: 100%;
            }

            &:last-child {
              margin-right: 0;
            }
            p {
              font-size: 14px;
            }

            .brand_name {
              font-weight: 700;
              margin-top: $padding/2;
            }
            .product_name {
              font-size: 14px;
              width: 100%;
              word-wrap: break-word;
            }
            .product_price {
              font-size: $padding;
              font-weight: 500;
              span {
                font-weight: 400;
                font-size: 13px;
                text-decoration: line-through;
                color: $color-skeleton-200;
              }
            }
            .discount_rate {
              color: $color-orange;
            }
          }
        }
      }
    }
  }
  .collection_container {
    max-width: $max-width;
    width: 100%;
    margin: auto;

    .collection_img_wrapper {
      @include flex;
      height: 600px;
      .first_img {
        border: 1px solid black;
        width: 100%;
        height: 100%;
      }
      // .second_img {
      //   background-color: aquamarine;
      //   width: 40%;
      //   height: 100%;
      // }

      // img {
      //   height: 100%;
      //   width: 100%;
      //   &:last-child {
      //     width: 40%;
      //   }
      // }
    }
    .collection_description_wrapper {
      margin-top: $padding;
      margin-bottom: $margin * 6;
      padding-left: $margin * 3;
      padding-right: $margin * 3;

      .collection_description {
        width: 120%;
        .collection_title {
          width: 60%;
          font-size: $margin * 1.2;
          letter-spacing: 5%;
          margin-bottom: $padding/2;
        }
        .collection_title_box {
          width: 5%;
          height: $margin/2;
          background-color: $color-dark-300;
        }
        .collection_description {
          width: 100%;
          word-break: break-all;
          margin-top: $padding;
          line-height: 140%;
        }
      }
      .more_items {
        @include display-grid($colum: repeat(3, 1fr));
        width: 100%;

        padding-left: 5%;
        img {
          width: 100%;

          aspect-ratio: 1;
          &:last-child {
            margin-right: 0%;
          }
        }
      }
    }
  }
  .magazine_container {
    max-width: $max-width;

    margin: auto;
    @include display-grid($colum: repeat(4, 1fr));
    width: 100%;
  }
  .event_banner_wrapper {
    margin-top: $margin * 6;

    width: 100%;
    height: 180px;
    border: 1px solid black;
    color: white;
  }
  .gallery_container {
    max-width: $max-width;
    margin: auto;
    margin-top: $margin * 5;
    margin-bottom: $margin * 5;
    .gallery {
      @include flex;
      width: 100%;

      .large_img {
        height: 350px;
        width: 100%;
        border: 1px solid orange;
      }
      .small_img {
        height: 350px;
        width: 50%;

        display: flex;
        flex-direction: column;
        div {
          flex: 1;
          border: 1px solid orange;
        }
      }
    }
    .selected_keyword_item_wrapper {
      margin-top: $margin * 2.5;
      @include display-grid($colum: repeat(3, 1fr));
      .selected_keyword_item_wrap {
        .item_thumbnail {
          width: 100%;
          height: 400px;
          object-fit: cover;
        }
      }
    }
  }
  .brand_container {
    padding-top: $margin * 5;
    max-width: $max-width;

    margin: auto;
    width: 100%;
    overflow: hidden;

    .brand_wrapper {
      display: flex;
      width: 100%; // @include flex;
      .brand_wrap {
        width: 100%;
        position: relative;
        transition: 0.23s;
        flex: 5;
        .brand_thumbnail {
          width: 100%;
          height: 500px;
          object-fit: cover;
          aspect-ratio: 1;
        }
        .image_overlay {
          width: 100%;
          height: 500px;
          background-color: rgba($color: #000000, $alpha: 0.7);
          position: absolute;
          z-index: 1;
          top: 0;
          @include flex;
          color: $color-background-100;
          cursor: pointer;
          &:hover {
            background-color: rgba($color: #000000, $alpha: 0.3);
          }
        }
        .items_list_wrapper {
          padding: 0 $margin;
          width: 100%;
          height: 500px;
          transition: opacity 0.5s;
          opacity: 1;

          // display: flex;
          // flex-direction: column;
        }
      }
      .brand_disabled {
        flex: 1;
        transition: all 0.5s;
      }
    }
  }
}
