@import "./variables.module";

@mixin flex($direction: row, $align-items: center, $justify-content: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin overflow-text($clamp: 1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: $clamp;
}
@mixin navigation-default-padding {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin display-grid(
  $colum: repeat(1, 1fr),
  $row: repeat(1, 1fr),
  $colum-gap: $default,
  $row-gap: $default
) {
  display: grid;
  grid-template-columns: $colum;
  column-gap: $colum-gap;
  grid-template-rows: $row;
  row-gap: $row-gap;
}

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}
@mixin default-desktop-size {
  padding: $padding/4 $padding;
  max-width: $breakpoint-desktop;
  width: 100%;
}

@mixin hidden-scrollbar {
  ::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@mixin default-button {
  width: 100%;
  @include flex;
  height: 38px;
  border-radius: 8px;
  svg {
    width: 15px;
    height: 15px;
  }
}

@mixin default-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
