@import "./common.module";

@mixin default-mobile {
  margin-top: $header-height-mb2;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  // padding: 0 $padding;
  width: 100%;
}

.mypage_container {
  max-width: $max-width;
  width: 100%;
  margin: auto;

  height: 100%;

  flex-grow: 1;

  flex-direction: column;
  margin-top: $desktop-margin-top * 1.5;
  .mypage_title {
    text-align: center;
    margin-bottom: $margin * 2;
    font-size: $margin * 1.8;
  }

  // margin-top: $header-height * 2;
  .profile_wrapper {
    margin-bottom: $margin * 4;
    background-color: $color-dark-200;
    padding: $padding $margin;
    @include flex;
    color: $color-background-100;
    height: 150px;
    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
    }
    .membership_wrap1 {
      width: 50%;
      height: 100%;
    }
    .membership_wrap2 {
      width: 25%;
      height: 100%;
      border-left: 1px solid $color-skeleton-100;
      padding: 0 $padding;
    }
    .membership_title {
      @include flex($justify-content: flex-start);
      color: $color-skeleton-100;
      font-weight: 600;
      svg {
        width: $margin;
        height: $margin;
      }
    }
    .membership_count {
      font-size: $margin * 1.5;
      font-weight: 700;
    }
  }

  .mypage_wrapper {
    display: flex;
    .side_menu_wrap {
      width: 200px;

      display: flex;
      flex-direction: column;

      margin-right: $margin * 3;
      .menu {
        width: 100%;
        font-size: 17px;
        // text-align: center;
        cursor: pointer;
        color: $color-skeleton-200;
        padding: $default 0;
        font-weight: 600;
        margin-bottom: $padding;
        &:last-child {
          margin-bottom: $padding;
        }
      }
      .active_tab {
        position: relative;
        color: $color-dark-300;
        // border-left: 5px solid $color-orange;
        svg {
          position: absolute;
          right: 0;
          top: 20%;
        }
      }
      .sub_menu_wrap {
        width: 100%;
        padding: $padding 0;
        padding-top: 0;
        font-size: 15px;
        line-height: 250%;
        font-weight: 300;
        cursor: pointer;
        .active_tab {
          font-weight: 400;
        }
      }
      .user_information {
        .user_name {
          font-weight: $font-weight-medium;
          color: $color-skeleton-200;

          font-size: $margin * 1.2;
        }
        .heart_wrap {
          cursor: pointer;
          width: 100%;
          height: 48px;
          margin: $margin 0;

          @include flex;
          background-color: $color-skeleton-100;
          color: $color-background-100;

          svg {
            width: $padding;
            margin-right: 3px;
          }
        }
      }
    }
    .content_wrap {
      width: 100%;
      .order_stages_wrapper {
        height: 144px;
        display: flex;
        margin-bottom: $margin * 2;
        border-top: 1px solid $color-dark-300;
        border-bottom: 1px solid $color-skeleton-100;
        .order_canceled_wrap {
          width: 300px;
          background-color: rgba($color-skeleton-100, 0.2);
          @include flex($direction: column);
          padding: 0 $margin * 2;

          > div {
            cursor: pointer;
            width: 100%;

            margin-bottom: $default;
            &:last-child {
              margin-bottom: 0px;
            }
          }
        }
        .order_stages_wrap {
          @include flex($justify-content: flex-start);
          width: 100%;
          .stage {
            height: 100%;
            width: 100%;

            @include flex($direction: column);
            position: relative;

            .order_label {
              font-size: $padding;
              margin-top: $padding;
              font-weight: 400;
            }
            .order_count {
              cursor: pointer;

              font-weight: 700;
              font-size: $default * 3.2;
            }
            svg {
              position: absolute;
              right: -15.5px;
              width: $default * 3;
              height: $default * 3;
              color: $color-skeleton-100;
            }
          }
        }
      }
      .order_wrapper {
        .order_title {
          // margin-top: $margin;
          margin-bottom: $padding;
          font-weight: 600;
          font-size: $margin;
          span {
            margin-left: $default/2;
            color: $color-skeleton-100;
            font-size: 15px;
          }
        }
        .order_list_table {
          .cancel_button {
            border: 1px solid $color-skeleton-100;
            background-color: $color-background-100;
            width: 100%;
            font-size: 12px;
            margin-top: $default/2;
            padding: $default/4 $default;
          }
          .order_number {
            text-decoration: underline;
            cursor: pointer;
          }
          .order_product_wrap {
            .order_info {
              display: flex;

              img {
                @include default-image;
                width: 60px;
                height: 80px;
                margin-right: $margin;
                flex-shrink: 0;
                cursor: pointer;
              }
              .order_item {
                width: 100%;
                text-align: left;
                color: $color-skeleton-200;
                .item_name {
                  margin-bottom: $padding;
                }
              }
            }
          }
        }
        .tab_wrapper {
          cursor: pointer;
          // margin-top: $margin * 3;
          margin-bottom: $margin;
          // padding-bottom: $padding;
          border-bottom: 1px solid rgba($color-skeleton-100, 0.2);

          @include flex($justify-content: flex-start);
          .tab {
            cursor: pointer;
            width: 120px;
            text-align: center;
            padding: $default;
            font-weight: 600;
            color: $color-skeleton-200;
          }
          .tab_active {
            border-bottom: 3px solid $color-primary-200;
            color: $color-dark-300;
          }
        }
        .filter_description {
          font-size: 14px;
          line-height: 160%;
          color: $color-skeleton-200;
          margin-bottom: $margin * 2;
        }
      }
      .order_detail_wrapper {
        .order_title {
          margin-top: $margin;
          margin-bottom: $padding;
          font-weight: 600;
          font-size: $margin;
          span {
            margin-left: $default/2;
            color: $color-skeleton-100;
            font-size: 15px;
          }
        }
        .order_item_header {
          @include flex($justify-content: space-between);
          margin-top: $margin * 2;
          > p {
            padding-bottom: $default;
            font-size: $padding;
            &:last-child {
              color: $color-skeleton-200;
            }
          }
        }
        .order_item_list {
          .delivery_info_wrap {
            width: 100%;
            background-color: $color-background-100;
            border: 1px solid $color-skeleton-100;
            height: 30px;
            cursor: pointer;
          }
          .item_info {
            display: flex;
            img {
              @include default-image;
              width: 80px;
              height: 100px;
              margin-right: $margin;
            }
            .item_info_text {
              height: 100%;
              font-size: 12px;

              text-align: left;
              color: $color-skeleton-200;
              p {
                margin-bottom: $default;
              }
              .option_button {
                cursor: pointer;
                @include flex($justify-content: flex-start);
                width: 60px;
                color: $color-skeleton-200;

                background-color: $color-background-100;
                border: none;
                font-size: 12px;
                border-bottom: 1px solid $color-skeleton-100;
                svg {
                  width: $default * 1.3;
                }
              }
            }
          }
        }
        .gray_table_container {
          margin-top: $margin * 3;
          .gray_table_title {
            padding-bottom: $padding;
            font-size: $margin;
            border-bottom: 1px solid $color-dark-300;
          }

          .double_gray_content_wrap {
            display: flex;
            > div {
              width: 100%;
            }
          }
          .gray_content_wrap {
            color: $color-skeleton-200;
            display: flex;
            border-bottom: 1px solid rgba($color-skeleton-100, 0.4);
            .gray_content_title {
              min-height: 56px;
              flex-shrink: 0;
              width: 200px;
              @include flex($justify-content: flex-start);
              background-color: rgba($color-skeleton-100, 0.2);
              padding: $default $margin;
            }
            .gray_content_content {
              width: 100%;
              @include flex($justify-content: flex-start);
              padding: $default $margin;
              word-wrap: break-word; /* 단어를 적절히 줄바꿈 */
              word-break: break-all; /* 단어를 강제로 줄바꿈 */
              white-space: normal; /* 공백 처리를 기본값으로 설정 */
              height: auto; /* 자동 높이 */
            }
          }
        }
      }
    }
  }
}

.search_filter_container {
  width: 100%;
  height: 70px;
  @include flex;
  background-color: rgba($color-skeleton-100, 0.2);
  margin-bottom: $margin;

  @mixin filter-btn {
    height: 30px;
    padding: $default/2 $padding;
    cursor: pointer;
  }

  .filter_btn_default {
    @include filter-btn;
    border: 1px solid $color-skeleton-100;
    margin-right: $default;
    background-color: white;
  }
  .filter_btn_active {
    background-color: $color-skeleton-200;
    color: $color-background-100;
  }

  .filter_btn_search {
    @include filter-btn;
    margin-left: $margin;
    background-color: $color-dark-300;
    color: $color-background-100;
  }
  .datepicker_wrap {
    @include flex;
    .datepicker_icon {
      margin: 0 $default/2;
    }
  }
}
.mobile_search_filter_container {
  .mobile_search_filter_button_wrap {
    @include flex($justify-content: space-between);
    // margin-top: $padding;
    border: 1px solid $color-skeleton-100;
    height: 40px;
    background-color: $color-background-100;
    p {
      color: $color-skeleton-200;
      font-size: 14px;
      width: 100%;
      height: 100%;
      @include flex;
      text-align: center;
      border-right: 1px solid $color-skeleton-100;
      &:last-child {
        border-right: 0px;
      }
    }
    .button_active {
      background-color: $color-dark-300;
      color: $color-background-100;
    }
  }
  .datepicker_wrap {
    @include flex;
    margin-top: $default;
    .datepicker_icon {
      margin: 0px $default/2;
    }
  }
}

.mobile_mypage_container {
  @include default-mobile;

  .membership_wrap {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: $default $padding;
    padding-bottom: $default/2;
    .membership_title {
      font-size: 14px;
      color: $color-skeleton-100;
    }
    .membership_count {
      font-weight: 600;
      font-size: $padding * 2;
    }
  }
  .double_membership_wrap {
    display: flex;
    > div {
      border-top: 1px solid rgba($color-skeleton-100, 0.3);
      border-bottom: 1px solid rgba($color-skeleton-100, 0.3);
      &:first-child {
        border-right: 1px solid rgba($color-skeleton-100, 0.3);
      }
    }
  }

  .sort_wrap {
    padding: $padding;
    border-bottom: 10px solid rgba($color-skeleton-100, 0.2);
    p {
      font-size: 14px;
      color: $color-skeleton-200;
    }
    @include flex($justify-content: space-between);
    .sort_button {
      @include flex;
      text-align: right;
      color: $color-skeleton-200;
      background-color: $color-background-100;
      width: 80px;
      border: 1px solid $color-skeleton-200;
      border-radius: 8px;
      height: 30px;
      font-size: 14px;
      // margin-top: $margin;
      // margin-left: calc(100% - 96px);

      svg {
        margin-right: $default/3;
        width: $padding;
      }
    }
  }

  // background-color: rgba($color-skeleton-100, 0.1);
  .profile_wrapper {
    background-color: $color-dark-200;
    @include flex($justify-content: space-between);
    min-height: 160px;

    padding: $margin $padding;

    .profile_name {
      font-weight: 600;
      font-size: $default * 4.5;
      color: $color-background-100;
    }
    .like_wrap {
      @include flex($direction: column);
      width: 70px;
      height: 70px;
      border-radius: 80%;
      flex-shrink: 0;
      background-color: rgba($color-background-100, 0.2);
      p {
        margin-top: -2px;
        font-size: 14px;
        color: $color-background-100;
        font-weight: 500;
      }
    }
  }
  .order_stages {
    width: 100%;
    background-color: rgba($color-skeleton-100, 0.1);
    border-radius: 10px;
    // margin: $margin 0px;
    // padding: $margin 0px;
    padding: $padding 0;
    // padding: $padding;
    .order_title {
      padding-right: $padding;
      text-align: right;
      margin-top: $default/3;
      span {
        font-size: 10px;
        color: $color-skeleton-100;
      }
    }
    .order_stage_wrap {
      @include flex;

      // margin-top: $margin;
      .stage {
        cursor: pointer;
        position: relative;

        svg {
          position: absolute;
          top: 0px;
          right: -9px;
          width: $margin;
          color: $color-skeleton-100;
        }

        width: 100%;
        text-align: center;
        .order_count {
          font-weight: 600;

          margin-bottom: $default/2;
          font-size: $margin;
        }
        .order_label {
          color: $color-skeleton-200;
          font-size: 12px;
        }
      }
    }
  }

  .menu_wrapper {
    .menu_category {
      padding: 0 $padding;
      font-size: 18px;
      font-weight: $font-weight-bolder;
      border-bottom: 3px solid $color-dark-300;
      padding-bottom: $default/2;
      margin-top: $margin * 3;
    }
    .sub_menu {
      padding: 0 $padding;
      @include flex($justify-content: space-between);
      border-bottom: 1px solid rgba($color-skeleton-100, 0.3);
      height: 50px;
      font-size: $padding;
      font-weight: 400;
      color: $color-skeleton-100;
      svg {
        width: $padding;
      }
    }
  }
  .order_header_filter_wrap {
    padding: $padding;
    background-color: rgba($color-skeleton-100, 0.1);
  }
  .order_table_wrap {
    table {
      th,
      td {
        border: none;
      }
    }
    .order_content {
      width: 100%;
      text-align: left;

      border-bottom: 10px solid rgba($color-skeleton-100, 0.2);
      .order_header {
        padding-bottom: $default;
        @include flex($justify-content: space-between);
        border-bottom: 1px solid rgba($color-skeleton-100, 0.2);
        .order_number {
          width: 100%;
          font-weight: 500;
          font-size: 14px;

          @include overflow-text;
          span {
            margin-left: $default/2;
            color: $color-orange;
          }
        }
        svg {
          margin-left: $default;
          color: $color-skeleton-100;
        }
      }
      .order_body {
        padding: $padding 0;
      }
    }
    .button_wrap {
      padding: $padding;
    }
  }
  .mobile_mypage_order_detail_wrapper {
    border-bottom: 10px solid rgba($color-skeleton-100, 0.2);
    .order_info {
      padding: 0 $padding;
      padding-top: $margin;
      p {
        font-size: 14px;
        &:last-child {
          color: $color-skeleton-200;
          font-size: 12px;
        }
      }

      @include flex($justify-content: space-between);
    }
    .order_item_wrapper {
      width: 100%;
      padding: $padding;
      .order_item {
        border-top: 1px solid rgba($color-skeleton-100, 0.3);
        padding-top: $margin;
        display: flex;
        img {
          @include default-image;
          width: 90px;
          height: 90px;
        }
        .item_info_wrap {
          margin-left: $default;

          width: 100%;
          .item_name {
            margin-top: $default/2;
            font-size: 15px;
            font-weight: 600;
          }
          .item_option_wrap {
            @include flex($justify-content: space-between);
            font-size: 15px;
            color: $color-skeleton-200;
            margin-bottom: $margin;

            .option_button {
              flex-shrink: 0;
              font-size: 12px;
              text-decoration: underline;
            }
          }
          .order_price_wrap {
            @include flex($justify-content: space-between);
            font-size: 14px;
            color: $color-skeleton-200;
            margin-bottom: $default;
            > p {
              &:last-child {
                color: $color-orange;
              }
            }
          }
          .order_price_wrap_first {
            p {
              font-size: 15px;
              color: $color-dark-300 !important;
            }
            > p {
              &:last-child {
                font-weight: 500;
              }
            }
          }
        }
      }
    }
    .order_delivery_wrapper {
      border-top: 10px solid rgba($color-skeleton-100, 0.2);
      padding: $margin $padding;
      .order_delivery_title {
        font-size: $padding;

        font-weight: 500;
      }
      .order_delivery_wrap {
        @include flex($justify-content: space-between);
        margin-bottom: $default;

        &:last-child {
          margin-bottom: 0;
        }
        > p {
          &:first-child {
            color: $color-skeleton-100;
          }
        }
      }
    }
  }
}

.order_header_filter_wrap {
  width: 100%;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .drawer_header {
    @include flex($justify-content: space-between);
    padding: $padding;
    p {
      font-weight: 600;
    }
    .header_icon {
      cursor: pointer;
      width: $margin;
      height: $margin;
      @include flex;
    }
  }
  .drawer_content_wrap {
    padding: $margin $padding;

    background-color: rgba($color-skeleton-100, 0.2);
    .title {
      font-size: 14px;
      margin-bottom: $padding;
    }
  }
  .order_stages_bg_white {
    width: 100%;
    border: 1px solid $color-skeleton-100;
    background-color: $color-background-100;

    @include flex($justify-content: space-between);
    padding: $padding;
    .stage {
      @include flex;
      font-size: 16px;
      position: relative;
      width: 100%;
      text-align: center;
      .order_count {
        font-weight: 600;
        font-size: $margin;
        margin-bottom: $default;
      }
      .order_label {
        font-size: 0.8em;
        font-weight: 300;
      }
      .arrow_wrap {
        position: absolute;
        right: 1px;
        top: -10px;
        padding: $default;
        width: $margin;
        color: $color-skeleton-100;
      }
    }
  }
}

.order_payment_wrapper {
  width: 100%;
  margin-bottom: $margin;
  &:last-child {
    margin-bottom: 0px;
  }
  .order_payment_state {
    font-weight: 600;
    font-size: $padding;
    margin-bottom: $default;
    text-align: left;
  }
  .order_payment_item_wrap {
    @include flex($justify-content: flex-start, $align-items: flex-start);
    height: 90px;
    img {
      @include default-image;
      width: 70px;
      margin-right: $padding;
    }
    p {
      word-wrap: break-word;
      word-break: break-all;
      white-space: normal;
      height: auto;
    }
    .order_payment_item_info {
      @include flex(
        $direction: column,
        $justify-content: space-between,
        $align-items: flex-start
      );
      height: 100%;
      flex-grow: 1;
      font-size: 14px;
      .order_payment_product_name {
        font-weight: 600;
      }
      .order_payment_option {
        color: $color-skeleton-200;
      }
      .order_payment_price {
        font-size: $padding;
        margin-top: $default/2;
        font-weight: 600;
      }
    }
  }
}

.my_heart_container {
  .heart_filter_wrapper {
    width: 100%;
    height: 70px;
    @include flex;
    border-bottom: 1px solid rgba($color-skeleton-100, 0.5);
    margin-bottom: $margin;
    .heart_filter {
      height: 100%;
      position: relative;
      width: 100%;
      @include flex;
      cursor: pointer;
      color: $color-skeleton-100;
      svg {
        margin-right: 4px;
      }

      &::after {
        content: "";
        display: block;
        width: 1px;
        height: 10px;
        position: absolute;
        right: 0;
        border-right: 1px solid $color-skeleton-100;
      }
      &:last-child {
        &::after {
          content: "";
          display: none;
        }
      }
    }
    .heart_filter_active {
      border-bottom: 1px solid $color-dark-300;
      color: $color-dark-300;
    }
  }
  .heart_items_filter {
    margin-top: $margin * 2;
    margin-bottom: $margin * 1.3;
    @include flex($justify-content: space-between);
    svg {
      cursor: pointer;
      width: $margin * 1.2;
      color: $color-skeleton-100;
    }
    .excluding_wrap {
      color: $color-skeleton-200;
      span {
        margin-left: -8px;
        font-size: 14px;
      }
    }
  }

  .active_filter {
    color: $color-dark-300 !important;
  }
  .heart_items_wrapper {
    @include display-grid($colum: repeat(2, 1fr), $colum-gap: $default * 3);
  }

  .heart_items_wrapper_reduction {
    @include display-grid(
      $colum: repeat(5, 1fr),
      $colum-gap: $default * 2,
      $row-gap: $default * 3
    );

    .style_wrap {
      position: relative;
      img {
        @include default-image;
        height: 290px;
      }
      p {
        position: relative;
        bottom: 10%;
        color: $color-background-100;
        font-size: 14px;
        left: 5%;
        width: 90%;
        @include overflow-text($clamp: 1);
      }
    }
    // padding-bottom: $margin * 5;
  }
  .brand_wrapper {
    padding-top: $margin;
    .brand_wrap {
      margin-bottom: $margin * 3;
      .brand_header {
        @include flex($justify-content: space-between);
        margin-bottom: $margin;
        .brand_name_wrap {
          @include flex($justify-content: flex-start, $align-items: flex-end);
          p {
            margin-left: $default/2;
          }
        }
        .more_button {
          cursor: pointer;
          font-size: 14px;
          text-decoration: underline;
        }
      }
      .brand_items_wrap {
        @include display-grid(
          $colum: repeat(6, 1fr),
          $colum-gap: $default * 1.5
        );
      }
    }
  }

  .empty_heart_wrap {
    height: 30vh;

    @include flex($direction: column);
    p {
      color: $color-skeleton-100;
      font-size: 14px;
      svg {
        width: 16px;
        padding-top: 5px;
        height: 16px;
      }
    }
    .empty_title {
      font-size: $margin;
      margin-bottom: $default;
      color: $color-skeleton-200;
    }
  }
}
.heart_card_item_wrap {
  // height: 320px;

  .item_thumbnail {
    position: relative;
    img {
      @include default-image;
      margin-bottom: $default/2;
      height: 250px;
      cursor: pointer;
    }
    svg {
      position: absolute;
    }
  }
  .item_info_wrap {
    .brand_name {
      font-size: 15px;
      margin-bottom: $default;
      @include overflow-text($clamp: 1);
    }
    .item_name {
      font-size: 14px;
      color: $color-skeleton-200;
      margin-bottom: $margin;
      @include overflow-text($clamp: 1);
    }
    .price_info_wrap {
      @include flex($justify-content: justify-content);
      .current_price {
        width: 100%;
        span {
          text-decoration: line-through;
          color: $color-skeleton-100;
          font-size: 14px;
        }
      }
      .sale_percent {
        color: $color-orange;
        font-weight: $font-weight-medium;
      }
    }
  }
  .add_cart_button {
    margin-top: $default;
    border: 1px solid $color-skeleton-100;
    // background-color: $color-skeleton-100;
    // color: $color-background-100;
    @include flex;
    height: 38px;
    font-size: 14px;
    svg {
      width: $padding;
      height: $padding;
      margin-right: 3px;
    }
    margin-bottom: $default/2;
    &:first-child {
      margin-top: $padding;
    }
    &:last-child {
      margin-bottom: 0;
      border: none;
      background-color: $color-dark-300;
      color: $color-background-100;
    }
  }
  .sold_out_button {
    background-color: $color-skeleton-100 !important;
  }
}
.heart_card_item_wrap_mobile {
  // height: 320px;

  .item_thumbnail {
    position: relative;
    img {
      @include default-image;
      margin-bottom: $default/2;
      height: 200px;
      cursor: pointer;
    }
    svg {
      position: absolute;
    }
  }
  .item_info_wrap {
    .brand_name {
      font-size: 13px;
      margin-bottom: $default/2;
    }
    .item_name {
      font-size: 12px;
      margin-bottom: $default;
    }
    .price_info_wrap {
      @include flex($justify-content: justify-content);
      .current_price {
        font-size: 13px !important;
        span {
          margin-left: 3px;
          font-size: 12px !important;
        }
      }
      .sale_percent {
        font-size: 13px;
      }
    }
  }
  .add_cart_button {
    @include flex;
    font-size: 12px;
    svg {
      width: 12px;
      height: 12px;
      margin-right: 3px;
    }
    margin-bottom: $default/2;
  }
}
.expansion_card {
  height: 320px;
  border: 1px solid $color-skeleton-100;
  padding: $default * 3;
  display: flex;

  .item_thumbnail {
    img {
      min-width: 216px;
      margin-bottom: 0px;
      height: 100%;
    }
    margin-right: $margin;
  }
  .item_info_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    // border: 1px solid teal;
  }
}

.my_heart_container_mobile {
  @include default-mobile;
  .heart_filter_wrapper {
    background-color: $color-skeleton-100;
    width: 100%;
    height: 48px;
    @include flex;

    .heart_filter {
      font-size: 14px;
      height: 100%;
      position: relative;
      width: 100%;
      @include flex;
      cursor: pointer;
      color: rgba($color-background-100, 0.7);
      svg {
        margin-right: 4px;
        width: 14px;
        height: 14px;
      }
    }
    .heart_filter_active {
      color: $color-background-100;
      font-weight: $font-weight-medium;
    }
  }
  .heart_items_wrapper_mobile {
    @include display-grid($colum: repeat(2, 1fr), $colum-gap: $default);
  }
  .heart_items_filter_mobile {
    margin-top: $margin;
    margin-bottom: $padding;
    @include flex($justify-content: flex-end);
    svg {
      cursor: pointer;
      width: $margin * 1.2;
      color: $color-skeleton-100;
    }
    .excluding_wrap {
      color: $color-skeleton-200;
      span {
        margin-left: -8px;
        font-size: 14px;
      }
    }
  }
  .empty_heart_wrap {
    height: 30vh;

    @include flex($direction: column);
    text-align: center;
    .empty_title {
      font-size: $margin;
      margin-bottom: $default;
      color: $color-skeleton-200;
    }
    .empty_subtitle {
      width: 80%;
      color: $color-skeleton-100;
      font-size: 12px;
      svg {
        width: 16px;
        padding-top: 5px;
        height: 16px;
      }
    }
  }
  .brand_wrapper {
    padding-top: $margin;
    .brand_wrap {
      padding: 0 $padding;
      margin-bottom: $margin;
      .brand_header {
        @include flex($justify-content: space-between);
        margin-bottom: $default;
        .brand_name_wrap {
          @include flex($justify-content: flex-start, $align-items: flex-end);
          p {
            margin-left: $default/2;
            font-size: 14px;
          }
          svg {
            padding-top: 3px;
            width: $margin;
            height: $margin;
          }
        }
        .more_button {
          cursor: pointer;
          font-size: 12px;
          text-decoration: underline;
        }
      }
      .brand_items_wrap {
        @include display-grid(
          $colum: repeat(6, 1fr),
          $colum-gap: $default * 1.5
        );
      }
    }
  }
  .style_wrap {
    position: relative;
    height: 200px;
    img {
      @include default-image;
    }
    p {
      position: relative;
      bottom: 15%;
      color: $color-background-100;
      font-size: 14px;
      left: 5%;
      width: 90%;
      @include overflow-text($clamp: 1);
    }
  }
}

.notice_table_container {
  .notice_title {
    font-size: $margin * 1.3;
    font-weight: $font-weight-medium;
  }
  .notice_title_mb {
    font-size: $margin;
    font-weight: $font-weight-medium;
    text-align: center;
  }
  .default_table_content {
    cursor: pointer;
    border-bottom: 1px solid rgba($color-skeleton-100, 0.3);

    height: 48px;
    width: 100%;
    p {
      @include overflow-text($clamp: 1);
      text-align: left;
    }
  }
  .notice_content_wrapper {
    margin-top: $margin * 1.2;
    margin-bottom: $margin * 3;

    border-bottom: 1.2px solid $color-skeleton-100;

    .notice_content_header {
      @include flex($justify-content: space-between);
      min-height: 50px;
      padding: 0 $margin * 2;
      background-color: rgba($color-skeleton-100, 0.1);
      border-top: 1.2px solid $color-skeleton-200;
      border-bottom: 1.2px solid $color-skeleton-100;

      font-size: 15px;
      .notice_content_title {
        flex-shrink: 1;
        width: 100%;
        margin-right: 10px;
      }
      .notice_written_date {
        flex-shrink: 0;
      }
    }
    .notice_content_header_mb {
      padding: $default/2 $margin;
      font-size: 14px;
    }

    .notice_content {
      padding: $margin * 2;
      min-height: 30vh;
    }
    .notice_content_mb {
      padding: $margin;
    }
  }
}

.notice_container_mb {
  @include default-mobile;
  padding: $margin $padding;
  .date_mb {
    margin-bottom: $default;
    color: $color-skeleton-200;
  }
}
