@import "./common.module";

@mixin menu {
  a,
  p {
    margin-right: $margin * 2;
    font-size: $margin;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
      color: $color-background-200;
    }
    @include tablet {
      font-size: $padding * 1.1;
      margin-right: $margin;
    }
  }
}
@mixin navigation-default-padding {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin header-container {
  position: fixed;
  z-index: 9999;
  width: 100%;
  opacity: 1;
  transition: 0.3s;
}
.header_container {
  @include header-container;
  background-color: rgba($color: #000000, $alpha: 0.05);
  height: $margin * 4.5;
  color: $color-background-100;

  @include flex;
  .header_wrapper {
    @include default-desktop-size;
    @include flex($justify-content: space-between);

    .category_wrapper {
      @include flex;
      .header_logo {
        width: 220px;
        cursor: pointer;
        margin-right: $margin * 3;
      }
      .category {
        @include menu;
        @include mobile {
          display: none;
        }
      }
    }
    .user_wrapper {
      @include flex;
      .user_icon {
        color: white;
        margin-left: $padding/1.2;
        margin-top: -5px;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
      @include menu;
      // a {
      //   margin-right: 0px;
      // }
      @include mobile {
        .user_icon {
          color: black !important;

          margin-right: $padding;
          margin-top: 0px;
          &:last-child {
            margin-right: 0px;
          }
        }
        a {
          display: none;
        }
      }
    }
  }
}

.header_container_dark {
  background-color: $color-background-100;
  color: $color-dark-300;
  border-bottom: 1px solid $color-skeleton-100;
  .user_icon {
    color: black !important;
  }
}

$mobile-header-height: $margin * 3;

.mb_header_container {
  @include header-container;

  .header_wrapper_mb {
    height: $mobile-header-height;
    @include navigation-default-padding;
    @include flex($justify-content: space-between);
    .header_logo {
      img {
        width: 100%;
        max-width: 180px;
        object-fit: contain;
      }
    }
    .header_icon_wrapper {
      width: 100%;

      @include flex($justify-content: flex-end);
    }
    .user_icon {
      color: white;
      margin-left: $padding/1.2;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
}

.mb_header_container_scrolled {
  background-color: $color-background-100;

  .header_wrapper_mb {
    .user_icon {
      color: black;
    }
  }
  .mb_scroll_menu_wrapper {
    margin-left: $padding;
    margin-right: $padding;
    height: $margin * 1.5;
    transform: translateY(-10px);
    animation: slideDown 0.1s forwards ease-out;
    @include flex($justify-content: flex-start, $align-items: baseline);
    overflow-x: scroll;
    @include hidden-scrollbar;
    .default_scroll_menu {
      @include flex;
      height: 100%;

      // border: 1px solid red;

      padding-left: $default/1.5;
      padding-right: $default/1.5;
      font-weight: 500;
      flex-shrink: 0;
      color: $color-skeleton-100;
      cursor: pointer;
    }
    .active_scroll_menu {
      height: 80%;
      border-bottom: 4px solid $color-dark-100;
      color: $color-dark-300;
      font-weight: 600;
    }
  }
}

@mixin default_search {
  position: absolute;
  position: 9999999;
  width: 100%;
  background-color: $color-background-100;
}

.search_container {
  top: $margin * 4.5;
  height: 500px;
  @include default_search;

  @include flex;
  transform: translateY(-10px);
  animation: slideDown 0.5s forwards ease-out;

  .search_wrapper {
    width: 100%;
    max-width: 620px;
    @include flex($direction: column);
    .keyword_wrapper {
      color: $color-dark-200;
      width: 100%;
      overflow: hidden;
      .keyword_title {
        font-weight: 700;
        text-align: left;
        margin-bottom: $padding/2;
        font-size: $padding;
      }
      .keyword_wrap1 {
        width: 100%;
        margin-top: $margin * 1.5;
        margin-bottom: $margin * 1.5;
        overflow: scroll;
        .keyword1 {
          margin-right: $padding/3;
          max-width: 100px;
          border: 1px solid $color-orange;
          padding: $padding/2;
          color: $color-orange;
          font-size: $padding * 0.9;
          @include overflow-text;
          flex-shrink: 0;
          cursor: pointer;
        }
      }
      .keyword_wrap2 {
        width: 100%;
        margin-top: $padding;
        overflow: scroll;
        .keyword2 {
          span {
            font-weight: 600;
            font-size: $margin;
            margin-right: $padding;
            color: $color-dark-300;
          }
          width: 100%;
          border-bottom: 1px solid
            rgba($color: $color-skeleton-100, $alpha: 0.2);
          padding: $padding/2;
          color: $color-dark-300;
          font-size: $padding * 0.9;
          @include overflow-text;
          flex-shrink: 0;
          cursor: pointer;
        }
      }
    }
  }
}

.search_container_mb {
  @include default_search;
  width: 100%;
  height: 100vh;

  background-color: $color-background-100;
  top: 0;
  transform: translateX(10px);
  animation: slideSide 0.5s forwards ease-out;
  .search_header {
    height: $mobile-header-height;
    position: relative;
    @include flex;
    .go_back {
      position: absolute;
      cursor: pointer;
      left: 16px;
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
  .search_body {
    width: calc(97% - $padding * 3);
    @include flex($direction: column, $justify-content: flex-start);
    margin: auto;
    text-align: center;
    height: 100%;
    padding-top: $margin * 5;
    .keyword_wrapper_mb {
      margin-top: $margin * 5;
      .keyword_title {
        font-weight: 700;
        font-size: 18px;
        color: $color-orange;
        line-height: 180%;
        margin-bottom: $default;
      }
      .keyword_mb {
        line-height: 200%;
        font-weight: 500;
        color: $color-skeleton-200;
      }
    }
  }
}

.footer_container {
  // max-width:$breakpoint-desktop;
  // margin: auto;
  margin-top: $margin * 5;
  height: 120px;
  background-color: rgba($color-skeleton-100, 0.1);
  @include flex;
  .footer_wrapper {
    max-width: $breakpoint-desktop;
    width: 100%;
    @include flex($justify-content: space-between, $align-items: flex-end);
    p {
      font-size: 14px;
      color: $color-skeleton-100;
      line-height: 180%;
    }
    .footer_strong {
      font-weight: 600;
      color: $color-skeleton-200;
      span {
        cursor: pointer;
      }
    }
  }
}
.footer_container_mb {
  height: 220px;
  padding: $padding;
  padding-bottom: $padding * 4;
  .footer_wrapper {
    @include flex($direction: column);
    text-align: center;
  }
}

.bottom_navigation_container {
  font-size: 14px;
  position: fixed;
  bottom: 0px;
  background-color: $color-background-100;
  width: 100%;
  z-index: 999;
  @include flex($justify-content: space-between);
  flex-wrap: nowrap;
  .bottom_menu_wrapper {
    cursor: pointer;
    width: calc((100% - 32px) / 4);
    @include flex($direction: column);

    height: $margin * 3;
    svg {
      width: 1em;
      height: 1em;
    }
    .bottom_menu {
      font-size: 0.9em;
      margin-top: $default/2;
    }
  }
}
