@import "./common.module";

.user_container {
  width: 100%;
  margin: auto;

  height: 100%;

  flex-grow: 1;
  @include flex;
  flex-direction: column;

  text-align: center;
  max-width: 400px;
  h1 {
    margin-bottom: $margin * 2;
  }
  h3 {
    text-align: left;
    width: 100%;
    margin: $margin 0px;
  }
  .find_information_wrapper {
    width: 100%;
    text-align: right;
    margin-top: $default;
    color: $color-skeleton-200;
    span {
      margin-left: $default;
      font-size: 14px;
      &:not(:nth-child(2)) {
        cursor: pointer;
      }
    }
  }
  .process_wrapper {
    width: 100%;
    background-color: rgba($color-skeleton-100, 0.8);
    height: 3px;
    position: relative;
    overflow: hidden;
    .process_percent {
      position: absolute;
      left: 0;
      background-color: $color-dark-300;
      height: 100%;
      transition: width 0.3s;
    }
  }
  .check_wrapper {
    width: 100%;
    @include flex($justify-content: flex-start);
    margin-bottom: $default;
    font-size: 16px;
    .check_wrap {
      color: $color-skeleton-200;
      margin-right: $default;
      svg {
        width: 0.6em;
        height: 0.6em;
      }
      font-size: 0.9em;
    }
    .check_wrap_check {
      color: $color-orange;
    }
  }
  .tab_menu_wrapper {
    width: 100%;
    @include flex;
    .tab_wrap {
      width: 100%;
      border-collapse: collapse;
      outline: 1px solid $color-skeleton-100;
      padding: $padding;
      margin-right: 1px;
      cursor: pointer;
    }
    .tab_wrap_active {
      background-color: $color-skeleton-200;
      color: $color-background-100;
    }
  }
  @include mobile {
    padding: $padding;
    margin-top: $header-height * 2;
  }
}
