$default: 10px;
$padding: 16px;
$margin: 20px;

$width_padding: calc(100% - $padding);

$header-height: $margin * 8;
$header-height_mb: $margin * 3;
$header-height-mb2: $default * 5;

$breakpoint-desktop: 1920px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 760px;

$max-width: 1240px;
