.one-row-slider {
  .slick-slide {
    padding: 0 10px !important;
    box-sizing: border-box;
  }

  .slick-list {
    margin: 0 -10px !important;
  }

  .slick-slide > div {
    display: flex !important;
    justify-content: center !important;
  }

  @media (max-width: 1024px) {
    .slick-slide {
      padding: 0 3px !important;
    }

    .slick-list {
      margin: 0 -3px !important;
    }
  }
}
